.pullquote {
    display: block;
    position: relative;
    margin: 1.9em auto 1.9em auto;
    background-image: radial-gradient(circle, map-get($colors, 'pale') 50%, white);
    padding: 1em 0.3em;
    text-align: center;
}

.pullquote q {
    font-size: 1.3em;
    font-style: italic;
    }

aside.pullquote::before {
    content: "";
    background-color: map-get($colors, 'cn-bright-teal');
    position: absolute;
    width: 20%;
    height: 4px;
    top: -2px;
    left: 40%;

}

aside.pullquote::after {
    content: "";
    background-color: map-get($colors, 'cn-bright-teal');
    position: absolute;
    width: 20%;
    height: 4px;
    bottom: -2px;
    left: 40%;

}



.content-box {
    display: block;
    position: relative;
    margin: 1.9em auto 1.9em auto;
    background-color: map-get($colors, 'pale');
    padding: 1.5em 1.5em 1.5em 1.5em;
}


aside.content-box::before {
    content: "";
    background-color: map-get($colors, 'cn-bright-teal');
    position: absolute;
    width: 30%;
    height: 4px;
    top: -2px;
    left: 0%;

}

aside.content-box::after {
    content: "";
    background-color: map-get($colors, 'cn-bright-teal');
    position: absolute;
    width: 30%;
    height: 4px;
    bottom: -2px;
    right: 0;

}

.content-box :first-child {margin-top: 0 !important;}

blockquote {
    border-left: 4px solid map-get($colors, 'cn-bright-teal');
    background-color:  map-get($colors, 'pale');
    background-image: url("/img/quote.svg");
    background-repeat: no-repeat;
    background-size: 4em 4em;
    background-position: 0.3em 0.3em;
    padding:     1em 1.5em;
    font-style:  normal;
    margin:      1.5em 0 0;

    cite {
        &:before {
            content: ' — ';
            padding: 0 0.3em;
        }
	a, a:hover, a:active, a:visited{
	    color: map-get($colors, 'cn-bright-teal');
	}
    }
    & > p:first-child {
        margin: 0;
    }
}




